@model PostViewModel

<div class="row">
    <div class="col-lg-8"> 
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">Posts</h1> 
            @foreach(var post in Model.Posts)
            {
                <div class="card bg-transparent border-0 mb-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/img/@post.Image" class="img-fluid rounded" alt="">
                        </div>
                        <div class="col-lg-8">
                            <h5><a href="/posts/details/@post.Url" class="btn-link fw-bold">@post.Title</a></h5>
                            <p>@post.Description</p>
                        </div>
                    </div>
                </div>
                <hr class="my-3">
            }
            <nav>
                <ul class="pagination justify-content-center">
                    @if(1 < ViewBag.pageNum)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/posts/page/@Convert.ToInt32(ViewBag.pageNum-1)" tabindex="-1" aria-disabled="true">Geri</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Geri</a>
                        </li>
                    }
                    @for (int i = 0; i < ViewBag.totalPagesCount; i++)
                    {
                        if(i+1 == ViewBag.pageNum)
                        {
                            <li class="page-item">
                                <b><a href="/posts/page/@(i + 1)" class="page-link link-danger">@((i + 1).ToString())</a></b>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a href="/posts/page/@(i + 1)" class="page-link">@((i + 1).ToString())</a>
                            </li>
                        } 
                    }
                    @if(ViewBag.totalPagesCount > ViewBag.pageNum)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/posts/page/@Convert.ToInt32(ViewBag.pageNum+1)">İleri</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">İleri</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-lg-4">
        <vc:tags-menu></vc:tags-menu>
        <vc:new-posts></vc:new-posts>
    </div>
</div>

